.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    p{
        text-align: center;
        font-size: 12px;
        margin: 5px;
        color: #ced3d6;
        a{
            color: #47bac1;
        }
    }
}