.background{
    background:#26A69D;
}
.userpod-budget-amount{
    text-align: center;
    color: #56a656;
    font-size: 2.2em;
}
.fa-bars{
    position: relative;
    z-index: 5;
}
.budget-collection{
    background: #cc4242;
    color: white;
    padding: 1em;
    border-radius: 50%;
    width: 35px;
    height: 34px;
    line-height: 5px;
    margin-left: 4px;
    position: absolute;
}
.fa-bars{
    position: absolute;
    top: 0;
    margin-top: 12px;
    margin-left: 10px;
    z-index: 15;
}
.goal-userpod{
    font-size: 1.3em;
    border-bottom: 1px solid lightgray;
}
i{
    font-size: 2.3em;
    color: #26A69D;
}
