    <div class="container calculator-container">
      <div class="row">
        <div class="col l7 m12 s12">
        <!--userinput-->
            <div class="col l12">
                <app-income></app-income>
            </div>
        </div>
      <div class="col l2"></div>
        <!--finachreport-->
        <div class="col l3 m4 s12 ">
            <div class="right-col-budget">
                <app-monthlyspending></app-monthlyspending>
            </div>
                <div class="how-to col s12">
                  <h5>How this works</h5>
                    <ul>
                      <li>Enter You Annual Salary <em>2 user limit</em></li>
                      <p>Depending on your income amount the approcpiate tax will be deducted, and shown</p>
                      <li>Enter you monthly expenses</li>
                      <p>This will be a total of all expenses, bills, and utilites. A total amount will be shown</p>
                      <p>As more exoenses is add <i class="fa fa-circle" aria-hidden="true"></i> will increment</p>
                      <li>Click <i class="fa fa-bars" aria-hidden="true"></i> to view available ca$h</li>
                      <p>Clicking this will show you the difference from your monthly income, to your monthly total budget.This can be used for investments, vacations, or donations</p>
                      <p>You can also see a list of items in your budget</p>
                    </ul>
                </div>
        </div>
      </div>
    <!--2nd row-->
    <div class="row">
      <div class="col l4 m12 s12">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://b-i.forbesimg.com/schifrin/files/2013/06/0604_wealth-wizard-warren-buffet_650x455.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Warren Buffet<i class="material-icons right"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></i></span>
            <!--<p><a href="#">This is a link</a></p>-->
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Warren Buffet<i class="material-icons right"><i class="fa fa-times" aria-hidden="true"></i></i></span>
            <p>Buffett was born in 1930 in Omaha, Nebraska. He was the second of three children and the only son of Leila (née Stahl) and Congressman Howard Buffett,[14] Buffett began his education at Rose Hill Elementary School. In 1942, his father was elected to the first of four terms in the United States Congress, and after moving with his family to Washington, D.C., Warren finished elementary school, attended Alice Deal Junior High School and graduated from Woodrow Wilson High School in 1947, where his senior yearbook picture reads: "likes math; a future stockbroker."[15] After finishing high school and finding success with his side entrepreneurial and investment ventures, Buffett wanted to skip college to go directly into business, but was overruled by his father.</p>
          </div>
        </div>
      </div>
      <div class="col l8 m12 s12">
        <app-stockmarket></app-stockmarket>
      </div>
    </div>

