    <div class="container calculator-container">
      <div class="row">
        <div class="col l7 m12 s12">
        <!--userinput-->
            <div class="col l12">
                <app-income></app-income>
            </div>
        </div>
      <div class="col l2"></div>
        <!--finachreport-->
        <div class="col l3 m4 s12 ">
            <div class="right-col-budget">
                <app-monthlyspending></app-monthlyspending>
            </div>
        </div>
      </div>
    <!--2nd row-->


