    <div class="container calculator-container">
      <div class="row">
        <div class="col l7 m12 s12">
        <!--userinput-->
            <div class="col l12">
                <app-income></app-income>
            </div>
        </div>
      <div class="col l2"></div>
        <!--finachreport-->
        <div class="col l3 m4 s12 ">
            <div class="right-col-budget">
                <app-monthlyspending></app-monthlyspending>
            </div>
                <div class="how-to col s12">
                  <h5>How this works</h5>
                    <ul>
                      <li>Enter You Annual Salary <em>2 user limit</em></li>
                      <p>Depending on your income amount the approcpiate tax will be deducted, and shown</p>
                      <li>Enter you monthly expenses</li>
                      <p>This will be a total of all expenses, bills, and utilites. A total amount will be shown</p>
                      <p>As more exoenses is add <i class="fa fa-circle" aria-hidden="true"></i> will increment</p>
                      <li>Click <i class="fa fa-bars" aria-hidden="true"></i> to view available ca$h</li>
                      <p>Clicking this will show you the difference from your monthly income, to your monthly total budget.This can be used for investments, vacations, or donations</p>
                      <p>You can also see a list of items in your budget</p>
                    </ul>
                </div>
        </div>
      </div>
    <!--2nd row-->


