<div class="row">
<img src="http://www.f-covers.com/cover/city-outline-facebook-cover-timeline-banner-for-fb.jpg" alt="">  
  <div class="col l12">
<h4>Benefits of Budgeting</h4>

<div class="container">
  <ul>
    <li>
    Gives you control over your money – A budget is a way of being intentional about the way you spend and save your money.    It is said that with budgeting, you control your money and not your money controls you.  Budgeting saves you the stress of suddenly having to adjust to lack of funds because you did not initially plan how to spend them.  It also helps you decide if you want to sacrifice short term spending like buying coffee everyday in exchange for a long term benefit like a cruise vacation or a new HDTV.
    </li>
    <li>
    Keeps you focused on your money goals –  You avoid spending unnecessarily on items and services that do not contribute to attaining your financial goals.  If you are working with limited resources, budgeting makes it easier to make ends meet.
    </li>
    <li>
    Makes you aware what is going on with your money – With budgeting, you are clear on what money is coming in, how fast it goes out, and where it is going to. Budgeting saves you from wondering every end of the month where your money went.  A budget enables you to know what you can afford, take advantage of buying and investing opportunities, and plan how to lower your debt. It also tells you what is important to you based on how you allocate your funds, how your money is working for you, and how far you are towards reaching your financial goals.
    </li>
    <li>
    Helps you organize your spending and savings – By dividing your money into categories of expenditures and savings, a budget makes you aware which category of expenditure takes which portion of your money.  That way, it is easy for you to make adjustments.  Budget also serves as a reference for organizing your bills, receipts, and financial statements.  When all of your financial transactions are organized for tax time or creditor questions, you save time and effort.
    </li>
    <li>
    Makes you decide in advance how your money will work for you.
    </li>
  </ul>
</div>
</div>
</div>
