img{
    width: 100%;
}
h4{
    text-align: center;
}
ul{
    li{
        padding: 1em;
        border: solid lightgray 1px;
        border-radius: 4px;
        margin: 10px;
        float: left;
        width: 330px;
        color: teal;
        font-size: 1.3em;
    }
}