.weather-container{
    h5{
        text-align: center;
    }
    p{
        margin: 0;
    }
    padding: .5em;
    border: solid lightgray 1px;
    border-radius: 4px;
    margin-bottom: 30px;
    button{
        background: peachpuff;
        border: solid 1px #eccbae;
        margin-left: 15px;
        border-radius: 4px;
    }
}
.weatherinput{
    input{
        &:nth-child(2){
                width: 60px;;
        }
    }
}
.weatherLocation{
    font-size: 2em;
    text-align: center;
    margin: 2px 0;
}
.weatherTemp{
    font-size: 1.5em;
    text-align: center;
    color: teal;
}
.cloudy{
    font-size: 1.4em;
    text-align: center;
    img{
        width: 35px;
    }
}