h4{text-align: center;}
.monthlyspending-container{
    background-color: white;
    padding: 1em;
}
.addBudgetBtn{
    background-color: #47BAC1;
    color: #B4E3E5;
    background-color: #47BAC1;
    color: #B4E3E5;
    width: 150px;
    padding: .3em;
    border: none;
    border-radius: 5px;
    margin: auto;
    display: block;
}
.budget-output{
    width: 50%;
    display: inline;
    float: left;
}    
.budget-title{
    font-size: 1.2em;
}
.budget-amount{
    text-align: center;
    color: #56a656;
}
.budgetSummary{
    p{
        font-size: 2em;
        text-align: center;
        color:black;
        font-weight: bold;
    &:nth-child(2){
        color: green;
    }    
    }
}
.budgetListContainer{
    max-height: 400px;      
    overflow: auto;
    background: white;
    box-shadow: #e1e0e0 0px 3px 0px 0px;
    border: solid 1px #f4efef;
}