<h1>Gross Salary</h1>
  <div>
        <div class="row">
          <div class="income-card">
          <form #form="ngForm" id="incomeForm" (ngSubmit)="addIncomeOwner(form.value)" >
            <div class="row">
                <div class="col s6 input-field">
                    <input [(ngModel)]="incomes.incomeOwner" name="incomeOwner" id="incomeOwner" type="text" class="validate" >
                    <label for="">Income Owner</label>                
                </div>
                <div class="col s6 input-field">
                  <input [(ngModel)]="incomes.incomeAmount" name="incomeAmount" id="incomeAmount" type="number"class="validate" >
                  <label for="">Income Amount</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6 input-field">
                        <input max-size="2" size="4" [(ngModel)]="incomes.percentage" name="percentage" id="incomePercent" type="number" class="validate" placeholder="Investment Before-Tax">  
                        <label for="filled-in-box">Investment %</label>                        
                </div>
                <div class="col s6 input-field">
                    <button type="submit" id="addIncomeBtn" class="addIncometBtn waves-effect waves-light">Add</button>
                    <!-- <button id="addIncomeBtn" class="salaryBtn" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>           -->
                </div>
              </div>  
          </form>
        </div>    
      </div>
      <div>
        <ul *ngFor="let income of incomes">
          <li  [@incomeAnim]="state" class="row salary-container"  >
            <div class="col s4 salaryOwner">{{income.incomeOwner  | firstCap}}</div>
            <div class="col s4"><strong>Annualy:  </strong><i class="salaryAmount">{{income.incomeAmount | currency:'USD':true:'1.2-2'}}</i></div>
            <div class="col s4 salaryAmount"><strong>Monthly:  </strong><i id="salaryMonthly">{{income.incomeAmount / 12 | currency:'USD':true:'1.2-2'}}</i></div>
          </li>
        </ul>   
      </div>
      <!-- *ngIf="incomeservice.incomes?.length > 0" -->
      <table class="responsive-table" *ngIf="incomeservice.incomes?.length > 0" >

          <thead>
            <tr>
                <th>After-tax Income</th>
                <th>Federal Tax Amount</th>
                <th>Monthly Income</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{salaryWTax | currency:'USD':true:'1.2-2'}}</td>
              <td>{{incomeWTaxesIn | currency:'USD':true:'1.2-2'}}</td>
              <td>{{monthlyIncomeWTax | currency:'USD':true:'1.2-2'}}</td>
            </tr>
          </tbody>

          <thead>
            <tr>
                <th>Percentage</th>
                <th>Annual Investments</th>
                <th>Monthly Investment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{investmentPercentage | percent}}</td>
              <td>{{investmentAnually | currency:'USD':true:'1.2-2'}}</td>
              <td>{{investmentMonthly | currency:'USD':true:'1.2-2' }} <em class="add-to-budget"> <i class="fa fa-square" aria-hidden="true"></i> Add this to the monthly budget</em></td>
            </tr>
          </tbody>
        </table>
  </div>
  <div id="howto" class="modal">
      <div class="modal-content">
          <app-steps></app-steps>
      </div>
  </div>