<h4>Income</h4>
  <div>
        <div class="row">
          <div class="income-card">
          <form #form="ngForm" id="incomeForm" (ngSubmit)="addIncomeOwner(form.value)" >
            <div class="row">
                <div class="col s6 input-field">
                    <input [(ngModel)]="incomes.incomeOwner" name="incomeOwner" id="incomeOwner" type="text"  >
                    <label for="">Income Owner</label>                
                </div>
                <div class="col s6 input-field">
                  <input [(ngModel)]="incomes.incomeAmount" name="incomeAmount" type="number" >
                  <label for="">Income Amount</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6 input-field">
                        <label for="filled-in-box">Investment %</label>
                        <input max-size="2" [(ngModel)]="incomes.percentage" name="percentage" type="number" > 
                </div>
                <div class="col s6 input-field">
                    <button type="submit" id="addIncomeBtn" class="addIncometBtn waves-effect waves-light">Add</button>
                    <!-- <button id="addIncomeBtn" class="salaryBtn" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>           -->
                </div>
              </div>  
          </form>
        </div>    
      </div>
      <div>
        <ul *ngFor="let income of incomes">
          <li  [@incomeAnim]="state" class="row salary-container"  >
            <div class="col s4 salaryOwner">{{income.incomeOwner  | firstCap}}</div>
            <div class="col s4"><strong>Annualy:  </strong><i class="salaryAmount">{{income.incomeAmount | currency:'USD':true:'1.2-2'}}</i></div>
            <div class="col s4 salaryAmount"><strong>Monthly:  </strong><i id="salaryMonthly">{{income.incomeAmount / 12 | currency:'USD':true:'1.2-2'}}</i></div>
          </li>
        </ul>   
      </div>
      <!-- *ngIf="incomeservice.incomes?.length > 0" -->
      <app-finance-table></app-finance-table>
      <!-- <table class="responsive-table" *ngIf="incomeservice.incomes?.length > 0">
          <thead>
            <tr>
                <th>Percentage</th>
                <th>Annual Amount</th>
                <th>Monthly Amount</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>{{investmentPercentage | percent}}</td>
              <td>{{investmentAnually | currency:'USD':true:'1.2-2'}}</td>
              <td>{{investmentMonthly | currency:'USD':true:'1.2-2' }}</td>
            </tr>
          </tbody>
      </table> -->
  </div>
  <div id="howto" class="modal">
      <div class="modal-content">
          <app-steps></app-steps>
      </div>
  </div>
  <!-- <app-weather></app-weather> -->