h4{
    text-align: center;
}
.income-owner-name{
        font-size: 1.2em;
}
.salaryBtn{
    color: white;
    background: teal;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    float: right;
    i{
        color: white;
    }
}
.salary-container{
    margin: 4px 0;
    background: #FFFFEB;
    padding: 1em;
    border-radius: 5px;
    border: solid 1px lightgray;
    span{
        float: right;
        font-weight: bold;
        color: #9d1a1a;
        font-size: 1.2em;
    }
    .salaryOwner{
        font-weight: bold;
        font-size: 1.2em;
    }
    .salaryAmount{
        color: #56a656;
        font-weight: bold;
        font-size: 1.2em;
    }
}
.subtotalSummary{
    p{
        font-size: 2em;
        text-align: center;
        color:black;
        font-weight: bold;
        font-size: 1em;
        &:nth-child(1n + 2){
            color: green;
        }    
        em{
            font-size: 16px;
            color: gray;
        }
    }
}