h4{
    text-align: center;
}
.income-card{
    background-color: white;
    padding: 1em;
}
.income-owner-name{
        font-size: 1.2em;
}
.salaryBtn{
    background: #47BAC1;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 20px;
    i{
        color: #B4E3E5;
        margin-top: 5px;
        font-size: 1.7em;
    }
}
.salary-container{
    margin: 4px 0;
    background: #6f7d95;
    padding: 1em;
    border-radius: 5px;
    border: solid 1px #6f7d95;
    span{
        float: right;
        font-weight: bold;
        color: #9d1a1a;
        font-size: 1.2em;
    }
    strong{
        color: #d3d8de;
        font-size: 16px;
        font-weight: bold;
    }
    .salaryOwner{
        font-weight: bold;
        font-size: 1.2em;
        color: #354052;
    }
    .salaryAmount{
        color: #f6f5f5;
        font-weight: bold;
        font-size: 1.2em;
    }
}
.subtotalSummary{
    p{
        font-size: 2em;
        text-align: center;
        color:black;
        font-weight: bold;
        font-size: 1em;
        &:nth-child(1n + 2){
            color: #f6f5f5;
        }    
        em{
            font-size: 16px;
            color: gray;
        }
    }
}

.investment-percent input{
    width: 100px;
    margin-left: 12px;
    height: 30px;
}
.addIncometBtn{
    background-color: #47BAC1;
    color: #B4E3E5;
    background-color: #47BAC1;
    color: #B4E3E5;
    width: 120px;
    padding: .3em;
    border: none;
    border-radius: 5px;
    margin: auto;
    display: block;
}
thead{
    color: #D8DCE2;
    background-color: #6F7D95;
    th{
        border-radius: 0px;
        padding: 15px 15px;
    }
}
tbody{
    background-color: white;
    td{
        padding: 15px 15px;        
    }
}