<div class="how-to col s12">
    <h4>How this works</h4>
    <div class="row">
        <ul>
          <div class="col s12 m4 step">
              <li>Enter You Annual Salary <em>2 user limit</em></li>
              <p>Depending on your income amount the approcpiate tax will be deducted, and shown</p>
          </div>
          <div class="col s12 m4 step">
              <li>Enter you monthly expenses</li>
              <p>This will be a total of all expenses, bills, and utilites. A total amount will be shown</p>
              <p>As more exoenses is add <i class="fa fa-circle" aria-hidden="true"></i> will increment</p>              
          </div>
          <div class="col s12 m4 step">
              <li>Click <i class="fa fa-bars" aria-hidden="true"></i> to view available ca$h</li>
              <p>Clicking this will show you the difference from your monthly income, to your monthly total budget.This can be used for investments, vacations, or donations</p>
              <p>You can also see a list of items in your budget</p>
          </div>
        </ul>
    </div>
  </div>