.how-to{
    padding: 1em;
    h4{
        text-align: center;
        font-weight: 600;
    }
    .step{
        padding: 0 1em;
    }
    ul{
        li{
            margin-left: 20px;
            list-style-type: decimal;
            font-weight: 500;
            i{
                color: #26a69a;
            }
            em{
                font-size: 13px;
                color: gray;
            }
        }
        p{
            color: gray;
            font-size: 14px;
            margin: 7px 0 7px 10px;   
            i{color: #cc4242;}   
        }        
    }
}