/* You can add global styles to this file, and also import other style files */
h4{
    font-size: 1.6em;
}
.right-col-budget{
    background: #fafafa;
    border: solid .4px lightgray;
    height: 100%;
    padding: 2em;
}
input{
    box-shadow: none;
}