/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #ECF2F6;
}
h4{
    font-size: 1.6em;
}
input{
    box-shadow: none;
    &:focus{
        border-bottom: 1px solid #47bac1;
        box-shadow: 0 1px 0 0 #47bac1 !important;
    }
}
.row{
    margin: 0px;
}